<!--
<div class="jumbotron text-center">
    <h1>Home Page</h1>
    <p>Unlike the thing Marco made</p>
    <div class="container">

    <div class="input-group">
        <span class="input-group-addon" title="Subject" id="subjectLabel">Subject</span>

        <select class="form-control">
            <option ng-repeat="subject in teasers" value="{{subject.titel}}"><i class="fa {{subject.logo}}">{{subject.titel}}</i></option>

        </select>

        <span class="input-group-addon" title="Level" id="levelLabel">Level</span>

        <select id="searchbygenerals_currency3" name="searchbygenerals[currency]" class="form-control" ng-model="filterstuff.lvl">
            <option value="7">7th Grade</option>
            <option value="9">9th Grade</option>
        </select>

        <span class="input-group-addon" title="Level" id="levelLabel3">Level</span>

        <select id="searchbygenerals_currency2" name="searchbygenerals[currency]" class="form-control" ng-model="filterstuff.smth">
            <option value="1">HUF</option>
            <option value="2">EUR</option>
        </select>
        <span class="input-group-addon">Text</span>
        <input type="text" id="searchtext" name="searchtext" class="form-control" ng-model="filterstuff.displayName">

    </div>
    </div>
</div>
!-->


<div class="bgcolor" >
    <div class="bgimg" >

    <form class="mainSearchForm" >
        <a type="submit" class="btn btn-primary mainSearchForm_a" href="#search">Find your tutor here!</a>
    </form>
    </div>
</div>

<!--
<div ng-repeat="tease in teasers">
<div  style="float:left;text-align:center;width:20%;margin:20px 0 20px 4%">
    <a href="{{tease.link}}"><i class="fa {{tease.logo}} main-logo" aria-hidden="true"></i></a>
    <h3 >{{tease.titel}}</h3>
    <a style="width:100%" class="btn btn-primary" href="{{tease.link}}">find more ></a>
</div>
</div>
!-->
