
<div class="col-md-6 col-md-offset-3">
    <h2>Edit Profile</h2>
    <form class="edit_form" name="form" ng-submit="editProfile()" role="form">
        <div class="form-group">
            <label for="userInfo">User Information</label>
            <textarea name="userInfo" id="userInfo" ng-model="edittedUser.userInfo" class="form-control"></textarea>
        </div>

        <div class="form-group" >
            <label for="myFileProfile">Select an image for your profile picture:</label>
            <input type="file" name="img" id="myFileProfile" file-model="myFileProfile" class="form-control">
        </div>
        <div class="form-group" >
            <label for="myFile">Select an image for your cover photo:</label>
            <input type="file" name="img" id="myFile" file-model="myFile" class="form-control">
        </div>
        <div class="form-group">
            <label for="age">Age</label>
            <input type="number" name="age" id="age" ng-model="edittedUser.age" class="form-control" />
        </div>
        <div class="form-group" >
            <label for="phone">Phone Number</label>
            <input type="number" name="phone" id="phone" ng-model="edittedUser.phoneNumber" class="form-control" />
        </div>
        <div class="form-group" >
            <label for="zipcode">Zipcode</label>
            <input type="number" name="zipcode" id="zipcode" ng-model="edittedUser.zipcode" class="form-control" />
        </div>




        <div class="form-group" >
            <label for="tutorCheck">Do you wan't to be a Tutor? check this box to show up on the search results</label>
            <input type="checkbox" name="tutorCheck" id="tutorCheck" ng-model="edittedUser.tutorCheck">
        </div>
        <div class="show_animate" ng-show="edittedUser.tutorCheck">

            <div class="select_outerDiv_fix">
            <label for="fag">Select subjects to tutor in</label>
            <ui-select id="fag" multiple ng-model="edittedUser.fag" theme="bootstrap" close-on-select="false" title="Choose subject(s)">

                <ui-select-match placeholder="Select Subjects...">{{$item.name}},{{$item.level}}</ui-select-match>
                <ui-select-choices repeat="fag in availableFag | filter:$select.search">
                    {{fag.name}}
                </ui-select-choices>
            </ui-select>
            </div>

            <div ng-repeat="fag in edittedUser.fag" class="select_outerDiv_fix_v2">
                <label for="grade">Select the grade you are able to tutor in {{fag.name}}</label>
            <ui-select id="grade" ng-model="fag.level" theme="selectize"  title="Choose a Grade">
                <ui-select-match placeholder="Select a Grade">{{fag.level}}</ui-select-match>
                <ui-select-choices repeat="grade in availableGrade | filter: $select.search">
                    <span ng-bind-html="grade | highlight: $select.search"></span>
                </ui-select-choices>
            </ui-select>
            </div>

        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Save</button>
            <a href="#/profile/{{edittedUser.displayName}}" class="btn btn-link">Cancel</a>
        </div>
    </form>
    <!--<form ng-submit="uploadProfilePic()" enctype="multipart/form-data">
        Select an image for your profile picture:
        <input type="file" name="img" file-model="myFileProfile">
        <button type="submit">Upload Image</button>
    </form>

    <img class="profilepic" src="{{myfile.path}}"/>

    <form ng-submit="uploadCoverPic()" enctype="multipart/form-data">
        Select an image for your cover photo:
        <input type="file" name="img" file-model="myFile">
        <button type="submit">Upload Image</button>
    </form>!-->

</div>
