
<div class="col-md-6 col-md-offset-3">
    <h2>Edit Profile</h2>
    <form class="edit_form" name="form" ng-submit="editProfile()" role="form">
        <div class="form-group">
            <label for="userInfo">User Information</label>
            <textarea name="userInfo" id="userInfo" ng-model="edittedUser.userInfo" class="form-control"></textarea>
        </div>

        <div class="form-group" >
            <label for="myFileProfile">Select an image for your profile picture:</label>
            <input type="file" name="img" id="myFileProfile" file-model="myFileProfile" class="form-control">
        </div>
        <div class="form-group" >
            <label for="myFile">Select an image for your cover photo:</label>
            <input type="file" name="img" id="myFile" file-model="myFile" class="form-control">
        </div>
        <div class="form-group">
            <label for="age">Age</label>
            <input type="number" name="age" id="age" ng-model="edittedUser.age" class="form-control" />
        </div>
        <div class="form-group" >
            <label for="phone">Phone Number</label>
            <input type="number" name="phone" id="phone" ng-model="edittedUser.phoneNumber" class="form-control" />
        </div>
        <div class="form-group" >
            <label for="zipcode">Zipcode</label>
            <input type="number" name="zipcode" id="zipcode" ng-model="edittedUser.zipcode" class="form-control" />
        </div>




        <div class="form-group" >
            <label for="tutorCheck">Do you wan't to be a Tutor? check this box to show up on the search results</label>
            <input type="checkbox" name="tutorCheck" id="tutorCheck" ng-model="edittedUser.tutorCheck">
        </div>
        <div class="show_animate" ng-show="edittedUser.tutorCheck">

            <div class="select_outerDiv_fix">
            <label for="fag">Select subjects to tutor in (max 4)</label>
                <br>
                <span ng-repeat="fag in temp.chosenFag.slice(0,4)" class="ng-scope">
                    <span class="ui-select-match-item btn btn-default btn-xs" tabindex="-1" type="button" >
                        <span >
                            <span class="ng-binding ng-scope">{{fag.name}},{{fag.level}}</span>
                        </span>
                    </span>
                </span>
            <ui-select id="fag" multiple ng-model="temp.chosenFag" theme="bootstrap" close-on-select="false" title="Choose subject(s)">

                <ui-select-match ng-show="false" ></ui-select-match>
                <ui-select-choices repeat="fag in temp.availableFag | filter:$select.search">
                    {{fag.name}}
                </ui-select-choices>
            </ui-select>
            </div>

            <div ng-repeat="fag in temp.chosenFag.slice(0,4)" class="select_outerDiv_fix_v2">
                <label for="grade">Select the grade you are able to tutor in {{fag.name}}</label>
            <ui-select id="grade" ng-model="fag.level" theme="selectize"  title="Choose a Grade">
                <ui-select-match placeholder="Select a Grade">{{fag.level}}</ui-select-match>
                <ui-select-choices repeat="grade in temp.grade | filter: $select.search">
                    <span ng-bind-html="grade | highlight: $select.search"></span>
                </ui-select-choices>
            </ui-select>
            </div>



        <div >
            <label for="form_textarea">Write your own customizable tags for your proile and the search tab (max 4)</label>
            <span ng-click="gen_spec()"  class="ng-scope">
                <span style="background-color: rgba(0, 0, 0, 0.07)" class="ui-select-match-item btn btn-default btn-xs" tabindex="-1" type="button" >
                    <span>
                        <span class="ng-binding ng-scope" >Generate a template tag</span>
                    </span>
                </span>
            </span>

    <br>
            <span ng-repeat="tag in temp.specs.split('\n').slice(0,4) track by $index" class="ng-scope">
                <span class="ui-select-match-item btn btn-default btn-xs" tabindex="-1" type="button" >
                    <span>
                        <span class="ng-binding ng-scope" title="{{tag.indexOf('::') != -1 ? tag.slice(tag.indexOf('::')+2) : '' }}">{{tag.indexOf('::')<25 && tag.indexOf('::') != -1 ? tag.slice(0,tag.indexOf('::')) : tag.slice(0,25)}}</span>
                    </span>
                </span>
            </span>

            <textarea title="a tag can be 25 characters, with a popup text of your own choosing. seperate them with a : like in the example shown." ng-model="temp.specs" id="form_textarea" placeholder="Write your own tags here!" rows="20" name="comment[text]" id="comment_text" cols="40" class="ui-autocomplete-input awesome_textarea" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true">{{(edittedUser.specialities.isEmpty()) ? edittedUser.specialities : "This is an example::This will be the popup text\nThis is another tag::This will be its popup text"}}</textarea>
        </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Save</button>
            <a href="#/profile/{{edittedUser.displayName}}" class="btn btn-link">Cancel</a>
        </div>
    </form>
</div>
