body {

  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.navbar_cus{
    margin: 2px 0 0 0;
    border:none;
    background-color: white;
    height: 54px;
}
a {
  color: #00B7FF;
}


.bgcolor{
  /*background: linear-gradient(rgb(71,113,153), rgb(96,144,184));*/
  background: linear-gradient(to bottom right ,rgb(0,67,135) 5%, rgb(3,160,227) 45%, rgb(3,160,227) 65%,rgb(0,67,135)) 95%;
}
.bgimg{
  height:398px;
  background-repeat: no-repeat;
  background-image:url('../pics/cover_v2.png');
  background-size: 889px 250px;
  background-position: center;

}


footer {
    color: white;
    bottom: 0;
    width: 100%;
    background-color: #00212c;
    position: relative;
    left: 0;
    overflow:hidden;
    padding: 20px 20px 20px 20px;
}
footer ul{
    width:400px;
    list-style-type: none;
    margin: 5px 5px 5px 5px;
}
.footer_item li{
    border-bottom: 1px solid #e7e6e6;
}
footer li {
    display:block;
    padding:10px 10px 10px 12px;
    position: relative;
}
.footer_parts {
    width:30%;
    margin: 15px 15px 0 10%;
    display:inline-block;

}
#main{
    min-height: 800px;
    height:100%;
}
.mainSearchForm{
  width:500px;
  height:98px;
  background-color:transparent;
  border:none;
  margin-left:50%;
  padding-top:270px;
  transform:translateX(-50%);
}

.mainSearchForm_input{
  width:100%;
  margin-bottom:5px;
  padding:5px 5px 5px 5px;
}

.mainSearchForm_a{
  width:100%;
  border:none
}
.main-logo{
  border: 1px solid white;
  background-color:#337ab7;
  height:40px;
  width:40px;
  line-height:38px;
  border-radius:50%;
  color:#ffffff;
  font-size:19px;
}
.main-logo:hover{
  background-color:#286090 !important;
  -webkit-animation: pulsate 2s ease-in-out;
  -webkit-animation-iteration-count: 1;
}
@-webkit-keyframes pulsate {
  0% {-webkit-transform: scale(1, 1);box-shadow: 0 0 0 #330022;}
  50% {-webkit-transform: scale(1, 1);box-shadow: 0 0 60px #229999;}
  100% {-webkit-transform: scale(1, 1);box-shadow: 0 0 0 #229977;}
}


.mb20 { margin-bottom: 20px; }

hgroup { padding-left: 15px; border-bottom: 1px solid #ccc; }
hgroup h1 { font: 500 normal 1.625em "Roboto",Arial,Verdana,sans-serif; color: #2a3644; margin-top: 0; line-height: 1.15; }
hgroup h2.lead { font: normal normal 1.125em "Roboto",Arial,Verdana,sans-serif; color: #2a3644; margin: 0; padding-bottom: 10px; }

.search-result .thumbnail { border-radius: 0 !important; }
.search-result:first-child { margin-top: 0 !important; }
.search-result { margin-top: 20px; }
.search-result .col-md-2 { border-right: 1px dotted #ccc; min-height: 140px; }
.search-result ul { padding-left: 0 !important; list-style: none;  }
.search-result ul li { font: 400 normal .85em "Roboto",Arial,Verdana,sans-serif;  line-height: 30px; }
.search-result ul li i { padding-right: 5px; }
.search-result .col-md-7 { position: relative; }
.search-result h3 { font: 500 normal 1.375em "Roboto",Arial,Verdana,sans-serif; margin-top: 0 !important; margin-bottom: 10px !important; }
.search-result h3 > a, .search-result i { color: #248dc1 !important; }
.search-result p { font: normal normal 1.125em "Roboto",Arial,Verdana,sans-serif; }
.search-result span.plus { position: absolute; right: 0; top: 126px; }
.search-result span.plus a { background-color: #248dc1; padding: 5px 5px 3px 5px; }
.search-result span.plus a:hover { background-color: #414141; }
.search-result span.plus a i { color: #fff !important; }
.search-result span.border { display: block; width: 97%; margin: 0 15px; border-bottom: 1px dotted #ccc; }

.fb-profile img.fb-image-lg{
  z-index: 0;
  width: 100%;
  margin-bottom: 10px;
}

.fb-image-profile
{
  margin: -90px 10px 0px 50px;
  z-index: 9;
  width: 20%;
}

.fb-image-lg
{
  height: 400px;
}

@media (max-width:768px)
{
  .fb-profile-text>h1{
    font-weight: 700;
    font-size:16px;
  }
  .fb-image-profile
  {
    margin: -45px 10px 0px 25px;
    z-index: 9;
    width: 20%;
  }
}
.show_animate {
    transition: all linear 0.5s;
    background-color: #E8E8EE;
    border-radius: 3px;
    height:100%;
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
}

.ng-hide {
    height: 0;
    width: 70%;
    background-color: transparent;
    top: 0px;
    left: -400px;
}

.select_outerDiv_fix .form-control{
    background-color: inherit;
    height:auto;
    width: 100%;
    padding:3px 3px 0 3px;
    border:none;
    box-shadow: none;
}
.select_outerDiv_fix input{
    margin-top:4px;
    display: block;
    width: 100% !important;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.select_outerDiv_fix .ui-select-choices-row:hover{
    background-color:lightgray;
    padding-left: 6px;
    font-size:15px;
    height: 22px;
    line-height: 22px;
}
.select_outerDiv_fix .ui-select-choices-row{
    padding-left:5px;
}
.edit_form input[type="checkbox"]{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: none;
    box-shadow: none;
    border-radius: 4px;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.select_outerDiv_fix_v2 input[type="text"]{
    display: none;
}
.select_outerDiv_fix_v2{
    width:50%;
}
.select_outerDiv_fix_v2 .ui-select-choices{
    width:50%;
}
.select_outerDiv_fix_v2 .ui-select-choices-row:hover{
    background-color:lightgray;
    padding-left: 6px;

}
.edit_form button{
    margin: 1em 1em 1em 0;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 25%;
    border-radius: 5px;
    min-width:200px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card h1, .card h2, .card h3{
    background-color: lightgray;
    padding: 5px 5px 5px 10px;
    margin: 0 0 10px 0;
}
.card p{
    padding-left: 8px;
}
.leftHand_card{
    width: 65%;
    float:left;

}
.awesome_textarea{
    margin-top: 10px;
    width: 100%;
    height: 150px;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07);
    border-color: -moz-use-text-color #FFFFFF #FFFFFF -moz-use-text-color;
    border-image: none;
    border-radius: 6px 6px 6px 6px;
    border-style: none solid solid none;
    border-width: medium 1px 1px medium;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
    color: #555555;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1em;
    line-height: 1.4em;
    padding: 5px 8px;
    transition: background-color 0.2s ease 0s;
}


.awesome_textarea:focus {

    outline-width: 0;
}






