body {

  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.bgcolor{
  /*background: linear-gradient(rgb(71,113,153), rgb(96,144,184));*/
  background: linear-gradient(to bottom right ,rgb(0,67,135) 5%, rgb(3,160,227) 45%, rgb(3,160,227) 65%,rgb(0,67,135)) 95%;
}
.bgimg{
  height:398px;
  background-repeat: no-repeat;
  background-image:url('../pics/cover_v2.png');
  background-size: 889px 250px;
  background-position: center;

}

.mainSearchForm{
  width:500px;
  height:98px;
  background-color:transparent;
  border:none;
  margin-left:50%;
  padding-top:270px;
  transform:translateX(-50%);
}

.mainSearchForm_input{
  width:100%;
  margin-bottom:5px;
  padding:5px 5px 5px 5px;
}

.mainSearchForm_a{
  width:100%;
  border:none
}
.main-logo{
  border: 1px solid white;
  background-color:#337ab7;
  height:40px;
  width:40px;
  line-height:38px;
  border-radius:50%;
  color:#ffffff;
  font-size:19px;
}
.main-logo:hover{
  background-color:#286090 !important;
  -webkit-animation: pulsate 2s ease-in-out;
  -webkit-animation-iteration-count: 1;
}
@-webkit-keyframes pulsate {
  0% {-webkit-transform: scale(1, 1);box-shadow: 0 0 0 #330022;}
  50% {-webkit-transform: scale(1, 1);box-shadow: 0 0 60px #229999;}
  100% {-webkit-transform: scale(1, 1);box-shadow: 0 0 0 #229977;}
}


.mb20 { margin-bottom: 20px; }

hgroup { padding-left: 15px; border-bottom: 1px solid #ccc; }
hgroup h1 { font: 500 normal 1.625em "Roboto",Arial,Verdana,sans-serif; color: #2a3644; margin-top: 0; line-height: 1.15; }
hgroup h2.lead { font: normal normal 1.125em "Roboto",Arial,Verdana,sans-serif; color: #2a3644; margin: 0; padding-bottom: 10px; }

.search-result .thumbnail { border-radius: 0 !important; }
.search-result:first-child { margin-top: 0 !important; }
.search-result { margin-top: 20px; }
.search-result .col-md-2 { border-right: 1px dotted #ccc; min-height: 140px; }
.search-result ul { padding-left: 0 !important; list-style: none;  }
.search-result ul li { font: 400 normal .85em "Roboto",Arial,Verdana,sans-serif;  line-height: 30px; }
.search-result ul li i { padding-right: 5px; }
.search-result .col-md-7 { position: relative; }
.search-result h3 { font: 500 normal 1.375em "Roboto",Arial,Verdana,sans-serif; margin-top: 0 !important; margin-bottom: 10px !important; }
.search-result h3 > a, .search-result i { color: #248dc1 !important; }
.search-result p { font: normal normal 1.125em "Roboto",Arial,Verdana,sans-serif; }
.search-result span.plus { position: absolute; right: 0; top: 126px; }
.search-result span.plus a { background-color: #248dc1; padding: 5px 5px 3px 5px; }
.search-result span.plus a:hover { background-color: #414141; }
.search-result span.plus a i { color: #fff !important; }
.search-result span.border { display: block; width: 97%; margin: 0 15px; border-bottom: 1px dotted #ccc; }

.fb-profile img.fb-image-lg{
  z-index: 0;
  width: 100%;
  margin-bottom: 10px;
}

.fb-image-profile
{
  margin: -90px 10px 0px 50px;
  z-index: 9;
  width: 20%;
}

.fb-image-lg
{
  height: 400px;
}

@media (max-width:768px)
{
  .fb-profile-text>h1{
    font-weight: 700;
    font-size:16px;
  }
  .fb-image-profile
  {
    margin: -45px 10px 0px 25px;
    z-index: 9;
    width: 20%;
  }
}
